<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件</title>

    <script src="vue.js"></script>
</head>
<body>
    <div id="example-1">
        <my-component></my-component>
        <local-component></local-component>
    </div>

    <div id="example-2">
        <input v-model="parentMsg">
        <br>
        <!-- 绑定父组件数据 -->
        <child v-bind:my-message="parentMsg"></child>

        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <child message="hello!"></child>
    </div>

    <div id="example-3" v-model="todo">
        <!--  传递一个对象的所有属性给子组件，使用不带任何参数的 v-bind -->
        <todo-item v-bind="todo"></todo-item>
    </div>

    

    <script>
        //注册一个全局组件。确保在初始化根实例之前注册组件。
        Vue.component('my-component',{
            template:'<div>A custom component!</div>'
        })

        //局部注册
        var Child = {
            template:'<div>A custom local component!</div>'
        }

        var data_2 = {counter:0};
        Vue.component('simple-counter',{
            template: '<button v-on:click="counter += 1">{{ counter }}</button>',
            // data 选项必须是 函数
            // 技术上 data 的确是一个函数了，因此 Vue 不会警告，
            // 但是我们却给每个组件实例返回了同一个对象的引用
            data:function(){
                // 错误做法，三个组件实例共享了同一个 data 对象，因此递增一个 counter 会影响所有组件！
                // return data_2;

                // 通过为每个组件返回全新的数据对象来修复这个问题
                return {
                    counter: 0
                }
            }

        })

        Vue.component('child',{
            props:['message','myMessage'],
            // prop也可以在模板中使用，同样也可以在vm实例中通过 this.message 来使用
            template:'<span>{{ message }} {{ myMessage}}</span>'
        })

        Vue.component('todo',{
            data:{
                todo:{
                    text: 'Learn Vue', isComplete: false
                }
            }
        })
        
        
        Vue.component('todo-item',{
            props:['text','isComplete'],

            // 1、Prop 作为初始值传入后，子组件想把它当作局部数据来用；
            data:function(){
                return {textCopy: this.text}
            },

            // 2、Prop 作为原始数据传入，由子组件处理成其它数据输出。
            computed:{
                isNotComplete:function(){
                    return !this.isComplete
                }
            },
            template: '<span>{{ text }}: {{ isComplete}}, {{ isNotComplete}}</span>'
        })

        Vue.component('example', {
            props: {
                // 基础类型检测 (`null` 指允许任何类型)
                propA: Number,
                // 可能是多种类型
                propB: [String, Number],
                // 必传且是字符串
                propC: {
                type: String,
                required: true
                },
                // 数值且有默认值
                propD: {
                type: Number,
                default: 100
                },
                // 数组/对象的默认值应当由一个工厂函数返回
                propE: {
                type: Object,
                default: function () {
                    return { message: 'hello' }
                }
                },
                // 自定义验证函数
                propF: {
                validator: function (value) {
                    return value > 10
                }
                }
            }
            })

        //创建根实例
        new Vue({
            el:"#example-1",
            components:{
                'local-component': Child
            }
        })

        new Vue({
            el:"#example-2",
            data:{
                parentMsg: 'Message from parent'
            }
        })

        new Vue({
            el: "#example-3",
            data:{
                todo:{
                    text: 'Learn Vue', isComplete: false
                }
            }
        })
    </script>
</body>
</html>